@model Entity.Results.ExcelResult

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel" id="panel-upload-file">
            <div class="panel-heading">
                <h3 class="panel-title">Subir Archivo</h3>
            </div>

            <!--Block Styled Form -->
            <!--===================================================-->
            @using (Html.BeginForm("UploadExcel", "Assignment", FormMethod.Post, new { id = "form-upload-excel", enctype = "multipart/form-data" }))
            {
                <div class="panel-body">
                    <table class="table table-hover table-vcenter">
                        <thead>
                            <tr>
                                <th class="min-width">Subir Archivo</th>
                                <th>File Name</th>
                                <th class="text-center">File Extension</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><button type="button" class="btn btn-primary fa fa-cloud-upload fa-2x" id="command-button-upload-file"></button></td>
                                <td>
                                    <span class="text-main text-semibold file-name">@Model.FileName</span>
                                    <br>
                                    <small class="text-muted file-size">size: @Model.FileSize</small>
                                </td>
                                <td class="text-center file-type"><span class="text-success text-semibold">@Model.FileExtension</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="file" name="excel" id="excel" style="visibility:hidden;" />
                </div>
                <div class="panel-footer text-left">
                    @if (Model.IsSucess)
	                {
		                <button type="button" id="command-button-sheet" class="btn btn-success fa fa-upload btn-label"> Subir</button>
	                }
                </div>
            }
            <!--===================================================-->
            <!--End Block Styled Form -->
            @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { id = "form-send-excel-sheets" }))
            {
                if (Model.IsSucess)
                {
                    <input type="hidden" value="@Model.Sheets[0]" name="sheet" id="sheet" />
                }
                else
                {
                    <input type="hidden" value="invalid" name="sheet" id="sheet" />
                }
            }

        </div>
    </div>
</div>

@if (Model != null && Model.IsError)
{
    <div id="err-container" data-error="@Model.Message"></div>
}

@if (Model != null && Model.IsSucess)
{
    <div id="msg-container" data-message="@Model.Message"></div>
}

@section scripts{
    <script src="~/Scripts/AccountAsignment/assigment.js"></script>
}