@model IEnumerable<Entity.Results.AssignedResult>

@{
    ViewBag.Title = "Cuentas Asignadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Estructura Ventas</h3>
            </div>
            <div id="demo-custom-toolbar" class="table-toolbar-left">
                <a href="@Url.Action("GetAssignedExcel", "Account")" class="btn btn-default"><i class="fa fa-file-excel-o fa-2x text-primary"></i></a>
            </div>
            <div class="panel-body">
                <table id="data-table-supervisor" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Subscr Id</th>
                            <th>Canv Code</th>
                            <th>Canv Edition</th>
                            <th>Charge In</th>
                            <th>Charge Out</th>
                            <th>Status</th>
                            <th>Empleado Asignado</th>
                            <th>Empleado a Asignar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invalid in Model)
                        {
                            <tr>
                                <td>@invalid.SubscrId</td>
                                <td>@invalid.CanvCode</td>
                                <td>@invalid.CanvEdition</td>
                                <td>@invalid.ChargeIn</td>
                                <td>@invalid.ChargeOut</td>
                                <td>@invalid.Status</td>
                                <td>@invalid.UserAssigned</td>
                                <td>@invalid.UserToAssign</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--===================================================-->
            <!--End Data Table-->

        </div>
    </div>
</div>

@section scripts{
    <script>
        $.fn.DataTable.ext.pager.numbers_length = 50;

        var rowDeletion = $('#data-table-supervisor').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "pageLength": 25,
            "dom": '<"toolbar">frtip'
        });

        $('#demo-custom-toolbar').appendTo($("div.toolbar"));
    </script>
}